@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

button {
  font-family: "Open Sans", sans-serif;
}

.Layout-profil {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 95vh; /* Utilise toute la hauteur de la fenêtre */
  /* border-left: 0.1px solid rgba(0, 0, 0, 0.3);
  border-right: 0.1px solid rgba(0, 0, 0, 0.3); */
  margin: 5vh auto 0; /* Ajoute une marge de 20% en haut, centre horizontalement, pas de marge en bas */
  width: 70%; /* Prend la moitié de la largeur de la fenêtre, ajuste selon tes besoins */
  min-width: 800px;
  box-sizing: border-box;
}

.Layout-profil > * {
  width: 100%; /* Les enfants prennent toute la largeur du composant principal */
  box-sizing: border-box; /* S'assure que la bordure et le padding sont inclus dans la largeur */
}

/* Classes spécifiques pour chaque enfant, si tu veux appliquer des styles individuels */
.Infos,
.Stats,
.Achievements,
.History > * {
  /* Styles spécifiques aux enfants ici */
  width: 100%; /* Les enfants prennent toute la largeur du composant principal */
  box-sizing: border-box;
}

/* -------------------------- Infos -------------------------- */

.Infos {
  display: flex;
  width: 100%;
  min-height: 328px;
}
.Infos > * {
  width: 100%; /* Les enfants prennent toute la largeur du composant principal */
  box-sizing: border-box;
}

.profil-picture {
  flex: 35%; /* Prend 30% de la largeur disponible */
  display: flex; /* Utilise Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 2%;
}

.profil-picture img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: solid rgba(0, 0, 0, 0.3) 0.1px;
}

.side-Infos {
  padding-top: 10px;
  flex: 65%; /* Prend 70% de la largeur disponible */
  display: flex;
  flex-direction: column;
}
.side-Infos > * {
  width: 100%; /* Les enfants prennent toute la largeur du composant principal */
  box-sizing: border-box;
}
.pseudo {
  flex: 25%; /* Prend 25% de la hauteur disponible dans side-Infos */
  display: flex; /* Active Flexbox */
  align-items: center; /* Centre le contenu en hauteur */
  /* font-weight: bold; */
  font-size: 40px;
}

.actions {
  flex: 25%; /* Prend 25% de la hauteur disponible dans side-Infos */
  display: flex;
  justify-content: space-between; /* Répartit les boutons uniformément */
  align-items: center;
  max-width: 500px;
}

.actions button {
  min-width: 150px;
  width: 31%;
  height: 60%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.actions button:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}

.play {
  background-color: #2832c2;
  color: white;
  position: relative; /* Nécessaire pour la pseudo-élément */
  overflow: hidden; /* Garde l'effet à l'intérieur des limites du bouton */
  transition: background-color 0.3s; /* Transition douce pour le fond */
}

.play:hover {
  background-color: #2832c2; /* Assombris le fond au survol pour l'effet */
}

.play::before {
  content: "";
  position: absolute;
  top: -50%; /* Commence en dehors du bouton */
  left: -80%;
  width: 200%; /* Large pour couvrir diagonalement */
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent,
    transparent 49%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 51%,
    transparent
  ); /* La ligne de lumière */
  animation: shine 2s infinite linear; /* Animation infinie */
}

@keyframes shine {
  to {
    transform: translateX(50%); /* Déplace le fond pour créer l'effet */
  }
}

.Bio {
  padding: 10px 0;
  flex: 50%; /* Prend 50% de la hauteur disponible dans side-Infos */
  font-size: 20px;
}

/* -------------------------- Infos -------------------------- */

/* -------------------------- Stats -------------------------- */

.Stats {
  display: flex;
  width: 100%;
  min-height: 150px;
  justify-content: space-evenly;
  font-size: 32px;
}

.Stats > * {
  border: solid 0.1px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  text-align: center;
  width: 30%;
  margin: 5px;
}

.data-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 50%;
  margin: 0;
}

/* -------------------------- Stats -------------------------- */

/* -------------------------- Achievements -------------------------- */

.Achievements {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 10px 0px;
}

.navCaroussel {
  position: absolute; /* Positionne les boutons de manière absolue par rapport à leur parent '.Achievements' */
  top: 50%; /* Centre verticalement les boutons */
  transform: translateY(-50%); /* Ajuste le centrage vertical */
  z-index: 10;
  border-radius: 50%;
  border: none;
}

.navCaroussel:hover {
  cursor: pointer;
}

.navCaroussel.left {
  /* Classe supplémentaire ou identifiant pour le bouton gauche */
  left: 0; /* Positionne à l'extrême gauche */
  transform: translate(
    -50%,
    -50%
  ); /* Ajuste pour que le milieu du bouton soit sur le bord */
}
.navCaroussel.right {
  /* Classe supplémentaire ou identifiant pour le bouton droit */
  right: 0; /* Positionne à l'extrême droite */
  transform: translate(
    50%,
    -50%
  ); /* Ajuste pour que le milieu du bouton soit sur le bord */
}

.slider {
  display: flex; /* Utilise flex plutôt qu'inline-flex pour une meilleure gestion des marges */
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.4s;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.slider div {
  flex: 0 0 calc((100% + 4%) / 5.5); /* calcule la largeur de chaque div */
  height: 100%;
  margin-right: 1%; /* marge entre les divs, ajuste selon tes besoins */
  text-align: center;
  border-radius: 15px;
  border: solid 0.1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

/* Assure-toi de ne pas ajouter de marge à la dernière div pour aligner correctement le contenu */
.slider div:last-child {
  margin-right: 0;
}

.end-nav-caroussel {
  display: none;
}
/* -------------------------- Achievements -------------------------- */

/* -------------------------- History -------------------------- */
/* .History :first-child{
	margin-top : 20px;
} */
.MatchBox {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-top: solid rgba(0, 0, 0, 0.3) 0.1px;
  font-size: 20px;
  padding: 10px;
}

.player {
  width: 30%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
}

.winner-p,
.loser-p {
  width: 100%;
  height: 100%;
}

.player-name,
.player-picture {
  height: 100%;
}

.player-name {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center; /* Centre le texte en hauteur et en largeur */
  transition: ease-in-out 0.3s;
}

.player-picture {
  flex: 70%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.player-picture img {
  border-radius: 50%;
  width: auto;
  height: 80px;
  width: 80px;
}

.right-p {
  justify-content: right;
}

.winner-p .player-picture img {
  border: 3px solid #d8bc31; /* Bordure jaune pour le gagnant */
}

.loser-p .player-picture img {
  border: 3px solid rgb(224, 42, 42); /* Bordure rouge pour le perdant */
}

.MatchBox button {
  background-color: white;
  border: none;
}

.MatchBox button:hover {
  cursor: pointer;
}

.clickable {
  color: #2832c2;
  font-size: 20px;
}

.player-name:hover {
  transform: scale(1.1);
  transition: linear 0.2s;
}

.clickable img {
  transition: linear 0.2s;
}
.clickable img:hover {
  border: solid 3px #2832c2;
  box-shadow: 0px 0px 5px 3px #2832c21e;
  transition: linear 0.2s;
}

.score {
  width: 30%;
  display: flex;
  font-size: 40px;
  /* font-weight: bold;  */
  justify-content: center;
  align-items: center; /* Centre le score */
}

/* -------------------------- History -------------------------- */
