.game {
    display: flex;
    flex-grow: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background-color: black;
	overflow: auto;
}

.canva {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    z-index: 1;
}

.StartButton {
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    background-color: #1d1d1d;
    border-radius: 6px;
}

.history-menu {
    display: flex;
	margin-top: 50px;
    flex-direction: column;
    background-color:#1d1d1d;
    border-radius: 6px;
    padding: 10px;
    gap: 2px;
}

.matchs-menu {
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color:#46464633;
    height: 290px;
    width: 440px;
    max-height: 290px;
    overflow-y: auto;
}

.matchs-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.match-item {
    display: grid;
    color: white;
    font-size: 0.85rem;
    grid-template-columns: 200px 75px 75px 75px;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-items: center; 
}

.view-match-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-match-button img {
    display: block;
    width: 20px;
    height: 20px;
}

.StartMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.CrossIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--text-primary);
    font-size: 25px;
    cursor: pointer;
    z-index: 3;
}

.winner {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}

.settings {
    position: absolute;
    font-size: 45px;
    right: 15px;
    top: 10px;
    color: white;
    cursor: pointer;
}

.settingsMenu {

    position: absolute;
    width: 700px;
    padding: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #1d1d1d;
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    z-index: 1;
}

.settingRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SettingsButton {
    background-color: #5f5f5f;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.settingsSlider {
    width: 80%;
    height: 6px;
    margin:0 ;
    padding: 0;
    appearance: none;
    background:  linear-gradient(90deg, #af656500, #40444b, #7289da);
    border-radius: 5px;
}

.settingsSlider::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
}

.settingsSlider::-moz-range-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
}

.label,
.settingsSlider,
.number {
    flex: 1;
}

.label {
    margin-left: 10px;
}

.number {
    text-align: right;
    margin-right: 10px;
}

.matchmaking-container {
    color: white;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.matchmaking-animation {
    width: 50px;
    height: 50px;
    border: 8px solid #748896;
    border-radius: 50%;
    border-top: 8px solid transparent;
    animation: matchmaking-spin 1s linear infinite;
}

.matchmaking-text {
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

@keyframes matchmaking-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.endGameMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContent {
    background: linear-gradient(90deg, #010150c2, rgba(0, 0, 0, 0.733), #410000);
    color: #fff;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}

.menuHeader {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.menuButton {
    background-color: #e6a919;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.statsLine {
    background-color: rgba(0, 0, 0, 0.255);
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftPlayer img,
.rightPlayer img{
	object-fit: cover;
    padding: 15px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.leftPlayer span, 
.rightPlayer span{
    text-align: center;
    font-weight: bold;

}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : white;
}

.leftPlayer,
.rightPlayer
{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
}

.rightPlayer
{
    right: 12%;
}

.leftPlayer
{
    left: 12%;
}


.letsgo {
    font-weight: bold;
    font-size: 75px;
    animation: fadeIn 4.8s ease-out;
}

.countDown {
    color: #fff;
    font-size: 60px;
    animation: countDownAnimation 4.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes countDownAnimation {
    16.65% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
    49.99% {
        opacity: 1;
    }
    66.66% {
        opacity: 0;
    }
    83.32% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


