.game {
	display: flex;
	flex-grow: 1;
	/* align-items: center; */
	justify-content: center;
	background-color: black;
}

.canva{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    z-index: 1;
}

.StartButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
	border: none;
	background-color: #1d1d1d;
	border-radius: 6px;
}

.StartMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.CrossIcon {
    position: absolute;
    left: 20px;
    top: 60px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    z-index: 3;
}

.winner {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}

.settings {
    position: absolute;
    font-size: 45px;
    right: 15px;
    top: 10px;
    color: white;
    cursor: pointer;
}

.settingsMenu {
    position: absolute;
    width: 700px;
    /* height: 200px; */
    padding: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #1d1d1d;
	color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    z-index: 1;
}

.settingRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SettingsButton {
    background-color: #5f5f5f;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.input input {
    width: 80%;
    height: 5px;
    appearance: none;
    background: linear-gradient(to right, #838383, #7f0000);
    border-radius: 3px;
}

.input input::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
}

.input input::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
}

.label,
.input,
.number {
    flex: 1;
}

.label {
    margin-left: 10px;
}

.number {
    text-align: right;
    margin-right: 10px;
}

.input {
    text-align: center;
}

.matchmaking-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.matchmaking-animation {
    width: 50px;
    height: 50px;
    border: 8px solid #748896;
    border-radius: 50%;
    border-top: 8px solid transparent;
    animation: matchmaking-spin 1s linear infinite;
}

.matchmaking-text {
    margin-top: 10px;
    font-weight: bold;
}

@keyframes matchmaking-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* fond flou */
.endGameMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond flouté */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FENETRE END GAME */
.menuContent {
    background: linear-gradient(90deg, #010150c2, rgba(0, 0, 0, 0.733), #410000);
    /* border: 2px solid #c3073f; */
    color: #fff;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}

.menuHeader {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top:10px;
}

.menuButton {
    background-color: #e6a919;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.statsLine {
    background-color:rgba(0, 0, 0, 0.255);
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    margin-top:10px;
    padding-top:20px;
    padding-bottom: 20px;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mmContent {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1d1d1d;
	color: #fff;
    margin-top: 50px;
    /* width: 20%; */
	width: 400px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}

.playersLine {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.player {
    display: flex;
    align-items: center;
    background-color: rgb(73, 72, 72); /* Couleur de fond pour les joueurs */
    height: 50px;
    padding-left: 10px;
}

.player img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%; /* Pour rendre l'image ronde */
}

.playerBlue {
    background-color: rgb(23, 53, 151); /* Couleur bleue pour le joueur présent */
}

.playerRed {
    background-color: rgb(9, 151, 33); /* Couleur rouge pour le joueur présent */
}