
.mmConteneur {
    height: 100vh;
    display:grid;
    grid-template-columns: 49.9% 0.05% 49.9%;
    grid-template-rows: 100%;
}

.mmConteneur > div {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }

.vertical-stuff {
    flex-direction: column;
    align-items: center; 
}

.line {
    height: 50%; 
    width: 2px;
    background-color: black; 
}


.logo {
    width:48px;
    height: 48px;
    z-index:3;
    background-color: white;
    border-radius: 50%;
}


/* .matchmaking-animation {
    width: 50px;
    height: 50px;
    border: 8px solid #748896;
    border-radius: 50%;
    border-top: 8px solid transparent;
    animation: matchmaking-spin 1s linear infinite;
} */

/* .matchmaking-text {
    color: black;
    margin-top: 10px;
    font-weight: bold;
} */

/* @keyframes matchmaking-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

.leftPlayer img,
.rightPlayer img{
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 50%;
}

.leftPlayer span, 
.rightPlayer span{
    text-align: center;
    font-size:1.5rem;
}

.leftPlayer,
.rightPlayer
{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerInfo {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* .letsgo {
    font-weight: bold;
    font-size: 75px;
    animation: fadeIn 4.8s ease-out;
}

.countDown {
    color: #fff;
    font-size: 60px;
    animation: countDownAnimation 4.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes countDownAnimation {
    16.65% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
    49.99% {
        opacity: 1;
    }
    66.66% {
        opacity: 0;
    }
    83.32% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */



