.matchmaking {
    position:relative;
    /* background-color: blue; */
}


.mmConteneur {
    height: 100vh;
    display:grid;
    grid-template-columns: 49.9% 0.05% 49.9%;
    grid-template-rows: 100%;
}

.mmConteneur > div {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }

.vertical-stuff {
    flex-direction: column;
    align-items: center; 
}

.line {
    height: 50%; 
    width: 2px;
    background-color: black; 
}


.logo {
    width:48px;
    height: 48px;
    z-index:3;
    background-color: white;
    border-radius: 50%;
}

.leftPlayer img,
.rightPlayer img{
    padding: 2px;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 3;
    background-color: white;
}

.leftPlayer span, 
.rightPlayer span{
    text-align: center;
    font-size:1.5rem;
}

.backOne, .backTwo {
    z-index: 1;
}

.leftPlayer,
.rightPlayer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.back {
    backdrop-filter:blur(10px);
    background-color: rgba(214, 212, 212, 0.76);
}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
}

.matchmaking-container {
    position:absolute;
    background-color: aqua;
}

.matchmaking-animation {
    background-color: aqua;
    width: 50px;
    height: 50px;
    border: 8px solid #748896;
    border-radius: 50%;
    border-top: 8px solid transparent;
    animation: matchmaking-spin 1s linear infinite;
    z-index:10000;
}

.matchmaking-text {
    background-color: aqua;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    z-index:10000;
}

@keyframes matchmaking-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.letsgo {
    background-color: aqua;
    font-weight: bold;
    font-size: 75px;
    animation: fadeIn 4.8s ease-out;
    z-index:10000;
}

.matchmaking-container {
    background-color: aqua;
    z-index:10000;
}

.countDown {
    background-color: aqua;
    color: black;
    font-size: 60px;
    animation: countDownAnimation 4.5s linear forwards;
    z-index: 10000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes countDownAnimation {
    16.65% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
    49.99% {
        opacity: 1;
    }
    66.66% {
        opacity: 0;
    }
    83.32% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

:root {
    --main-color:white;
    --point-color: rgba(0, 0, 0, 0.76);
    --size: 5px;
  }

.loader {
    background-color: var(--main-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;  
    height:auto;
  }
  
  .loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }
  
  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }



