.play {
    background-color: var(--bg-primary);
    display: flex;
	flex-direction: column;
	flex: 1;
    overflow: hidden;
}


.scores {
    display:flex;
    background-color: var(--bg-primary);
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 6%;
    margin: 0 auto;
    border-bottom: 2px solid var(--bg-secondary);
    border-left: 2px solid var(--bg-secondary);
    border-right: 2px solid var(--bg-secondary);
    width: 20%;
	min-width: 150px;
    height: 100px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.score {
    font-weight: 900;
	height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
}

.game-area {
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 95%;
}

.game-area img {
    margin:auto;
    height:15vw;
    width:15vw;
    border-radius: 50%;
    border: 3px solid black;
}

canvas {
    margin:auto;
    height:80%;
    width:100%;
    border: 1px solid var(--bg-reverse);
	background-color: var(--bg-primary);
}

.spectatorsLenContainer
{
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spectatorIcon
{
    margin : 10px;
}

/* .spectatorsList {
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    width:50%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:auto;
} */

.spectator {
    padding:5px;
    width: 100px;
	height: 100px;
    border-radius: 50%; 
}

