.TopBar {
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-bottom: 1px solid #40444b;
}

.leftPlayerContainer,
.rightPlayerContainer {
    display: flex;
    align-items: center;
}

.leftPlayerImg,
.rightPlayerImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.leftPlayerImg {
    margin-left: 50px;
    margin-right: 55px;
}

.rightPlayerImg {
    margin-right: 50px;
    margin-left: 55px;
}

.playerName {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.centerContainer {
    display: flex;
    align-items: center;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

.RightBar {
    /* display: flex;
    flex: 1;
    width: 300px;
    flex-direction: column; */
    float: right;
    width: 300px;
    height: 100vh;
    border-left: 1px solid #40444b;
}

.ballContainer {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #40444b;
}

.ballContainer img {
    width: 50px;
    height: 50px;
}

.ballContainer > p
{
    background-color: aqua;
    font-size: 35px;
    margin: 0;
    margin-left : 60px;
}
