

.TopBar {
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-bottom: 1px solid #40444b;
}

.leftPlayerContainer,
.rightPlayerContainer {
    display: flex;
    align-items: center;
}

.leftPlayerImg,
.rightPlayerImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.leftPlayerImg {
    margin-left: 50px;
    margin-right: 55px;
}

.rightPlayerImg {
    margin-right: 50px;
    margin-left: 55px;
}

.playerName {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.centerContainer {
    display: flex;
    align-items: center;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

.RightBar {
    width: 35%;
	max-width: 300px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-left: 1px solid #40444b;
}

.ballContainer,
.paddleContainer {
    display: flex;
    padding: 15px;
}

.ballContainer img,
.paddleContainer img {
    width: 50px;
    height: 50px;
}

.ballContainer button,
.paddleContainer button {
    all: unset;
    font-size: 35px;
    margin: 0;
    margin-left: 60px;
}

.paddle {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 50px 50px 30% 50px;
    box-sizing: border-box;
	flex-grow: 1;
}

/* .paddleSizeContainer{
    margin: 50px 250px 0px 250px; 
} */

.paddleSizeContainer > h2{
    margin-bottom: 25px;
}

.paddleSizeOutside {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(197, 197, 197);
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.paddleSizeInside {
    height: 100%;
    background-color: #000000;
    border-radius: 15px;
}

.buttonSizePaddle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSizePaddle button {
    all: unset;
    width: 35px;
    height: 35px;
    font-size: 35px;
    border-radius: 50%;
    border: solid rgba(51, 51, 51, 0.3) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.buttonSizePaddle button:hover {
    cursor: pointer;
    border: solid rgba(51, 51, 51, 0.8) 1px;
}

.BallTab:hover , .PaddleTab:hover {
    cursor: pointer;
} 