body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: medium;
    height: 100vh;
}


.fix {
    display: flex;
    align-items: center;
	flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #36393f;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2f3136;
    padding: 2em;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.field {
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 15px 5px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
	background-color: #40444b;
	color: #fff;
}

.button {
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    background-color: #0e48ab;
    padding: 10px;
    margin: 5px 15px 5px 15px;
    border-radius: 6px;
    border: none;
}

@media only screen and (max-width: 768px) {
}