body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: medium;
    height: 100vh;
}

.fix {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--bg-secondary);
    padding: 2em;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.field {
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 15px 5px 15px;
    border: 1px solid var(--bg-secondary);
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}



.registerButton, .loginButton {
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    background-color: var(--primary-blue);
    padding: 10px;
    margin: 5px 15px 5px 15px;
    border-radius: 6px;
    border: none;
}

.registerButton {
    background-color: var(--primary-blue);
}

.loginButton {
	background-color: var(--primary-green);
}

@media only screen and (max-width: 768px) {}