.history-menu {
    height:83%;
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 750px;
}

.matchs-menu {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	gap: 15px;
    height:100%;
    width: 100%;
    max-height:100%;
    overflow: auto;
}

.matchs-title {
    padding:1.5%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color:  var(--text-primary);
}

.match-item {
    width:100%;
    display: grid;
    color: black;
    grid-template-columns: 20% 10% 40% 10% 20%;
    grid-template-rows: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border: 1px solid var(--bg-secondary);
	border-radius: 10px;
	align-items: center;
    justify-items: center;
}

.match-item:first-child {
    /* border-top: 1px solid var(--bg-secondary); */
}

.view-match-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-match-button img {
    display: block;
    width: 20px;
    height: 20px;
}

.match-item .score_history {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: 1.5rem;
    color:  var(--text-primary);
}

.name{
    font-size: 1.5rem;
    color:  var(--text-primary);
}

.match-item .playerPhoto {
	object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 15px 0;
}