.material-symbols-outlined {
    text-decoration: none;
    color: var(--text-primary);
    margin: 10px;
    font-size: 26px;
}

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 60px;
    border-right: 0.1px solid var(--bg-secondary);
	overflow-x: hidden;
}

.navItems {
    display: flex;
    flex-direction: column;
}

.navBarItem {
    margin-right: 20px;
    color: #fff;
    transition: color 0.3s ease;
}

.navBarItem:hover {
    color: #7289da;
}

.navUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navUser span {
    margin-right: 10px;
}