.login-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 
	margin: 0; 
  }

.new-login{
	display: flex;
	height: 600px;
	width: 400px;
	border-radius: 12px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin : 100px auto auto auto;
	padding: 50px;
	box-sizing: border-box;
}

.new-login > h1 {
	text-align: center;
}

.bottom-wrapper-login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20%;
	flex-direction: column;
}

.connect {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2832C2;
	height: 75px;
	border-radius: 12px;
	width: 200px;
}

.connect > a {
	color : white;
	text-decoration: none;
	font-size: 1.5em;
}
.hero-img-content{
	height: 350px;
	width: 350px;
}