.page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.rowDirection {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.menu {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
}

.StartMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.CrossIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--text-primary);
    font-size: 25px;
    cursor: pointer;
    z-index: 3;
}

.settings {
    position: absolute;
    font-size: 45px;
    right: 15px;
    top: 10px;
    color: white;
    cursor: pointer;
    z-index:5;
}

.settingsMenu {

    position: absolute;
    width: 700px;
    padding: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #1d1d1d;
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    z-index: 100000;
}

.settingRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SettingsButton {
    background-color: #5f5f5f;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.settingsSlider {
    width: 80%;
    height: 6px;
    margin:0 ;
    padding: 0;
    appearance: none;
    background:  linear-gradient(90deg, #af656500, #40444b, #7289da);
    border-radius: 5px;
}

.settingsSlider::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
}

.settingsSlider::-moz-range-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
}

.label,
.settingsSlider,
.number {
    flex: 1;
}

.label {
    margin-left: 10px;
}

.number {
    text-align: right;
    margin-right: 10px;
}

.information_rules {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredText {
    color: white;
    font-size: 24px;
    text-align: center;
    width: 80%;
    font-style: italic;
}
