.sideBar {
	width: 35%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	border-left: 1px solid var(--bg-secondary);
}

.sideBarTitle {
	text-align: center;
	margin: 30px;
}

.sideBarSelect {
	font-weight: bold;
	margin: 15px 25px;
	background-color: var(--bg-primary);
	color: var(--text-primary);
	text-align: center;
	border: none;
	cursor: pointer;
}