.BallSizeWrapper {
	display: flex;
	justify-content: space-around; /* Espacement équitable entre les balles */
	padding: 20px;
  }
  
  .smallSizeBall, .mediumSizeBall, .largeSizeBall {
	border-radius: 10px; /* Rend les éléments circulaires */
	cursor: pointer; /* Indique que les éléments sont cliquables */
	transition: transform 0.2s; /* Animation légère au survol */
  }
  
  .smallSizeBall:hover, .mediumSizeBall:hover, .largeSizeBall:hover {
	background-color: var(--bg-secondary);
  }
  
  .smallSizeBall, .mediumSizeBall, .largeSizeBall {
	/* max-width: 300px; 
	max-height: 200px;
	min-width: 200px; 
	min-height: 150px; */
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
  }

  .smallSizeBall  {
	font-size: 24px;
	
  }
  .mediumSizeBall  {
	font-size: 36px;
  }
  .largeSizeBall {
	font-size: 48px;
  }
  .selectedBall {
	border: 1px solid var(--bg-secondary);
  }
  